body{
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #f2f4f8; 
}
.resume{
  display: flex; 
  max-width: 900px; 
  margin: 40px auto;
  background: white; 
  border-radius: 10px;
  overflow: hidden; 
}
.sidebar{
  width: 30%;
  background-color: 50%;
  display: block;
  margin: 0 auto 20px; 
}
.sidebar img{
  width: 12px; 
  border-radius: 50%;
  display: block; 
  margin: 0 auto 20px;
}
.sidebar h3{
  margin-top: 25px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 5px; 
}
.sidebar ul{
  list-style: none; 
  paadding: 0;
}
.sidebar li{
  margin: 8px 0;
}

.main{
  width: 70%;
  padding: 30px;
}

.main h1{
  width: 70%;
  padding: 30px;
}
.main h1{
  margin-top: 0;
}
.role{
  color:#4b4bff;
  margin-bottom: 25px;
}
section{
  margin-bottom: 25px;
}
h2{
  color: #4b4bff;
} 

@media(max-width: 768px) {
  .resume{
    felx-direction: column;
  }
  .sidebar, .main{
    width: 100%;
  }
}
