body{
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #0f0f0f; 
}
.resume{
  display: flex; 
  max-width: 900px; 
  margin: 40px auto;
  background: #ffffff; 
  border-radius: 10px;
  overflow: hidden; 
}
.sidebar{
  width: 30%;
  background-color: 000000;
  color: white;
  padding: 40px 30px;
  box-sizing: border-box;
}
.sidebar img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  display: block; 
  margin: 0 auto 20px;
  border: 3px solid #ffffff;
}
.sidebar h3{
  margin-top: 30px;
  margin-bottom: 10px;
}
.sidebar ul{
 padding-left: 20px;
  margin-top: 10px; 
}
.sidebar li{
  margin: 8px 0;
}
.sidebar p{
  margin: 8px 0;
}
.main{
  width: 70%;
  padding: 30px;
  color: #111;
}

.main h1{
  width: 70%;
  padding: 30px;
}
.main h1{
  margin-top: 0;
  color: #8B0000;
}
.role{
  color:#555;
  margin-bottom: 25px;
}
section{
  margin-bottom: 25px;
}
h2{
  color: #8B0000;
} 

@media(max-width: 768px) {
  .resume{
    felx-direction: column;
  }
  .sidebar, .main{
    width: 100%;
  }
}
